HELP.md
target/
webapp/WEB_INF/classes/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
memory:/

.gradle/7.6/fileHashes/fileHashes.lock

.gradle/7.6/fileChanges/last-build.bin

.gradle/7.6/executionHistory/executionHistory.lock

.gradle/7.6/dependencies-accessors/gc.properties

.gradle/7.6/dependencies-accessors/dependencies-accessors.lock

.gradle/7.6/checksums/sha1-checksums.bin

.gradle/7.6/checksums/md5-checksums.bin

.gradle/7.6/checksums/checksums.lock

.gradle/7.6/gc.properties

*.lock

.gradle/buildOutputCleanup/cache.properties

.gradle/vcs-1/gc.properties

gradle/wrapper/gradle-wrapper.jar

gradle/wrapper/gradle-wrapper.properties

gradlew

gradlew.bat

settings.gradle

src/main/.DS_Store

src/main/java/.DS_Store
